
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#box2{
    position: relative;
    
    width: 15.8vw;
    height: 100vh;
    
    background-color:peru
}
.box1{
    position: absolute;
    width: 84%;
    height: 100vh;
    right: 0;
    background-color: white;
}

#p1{  
    position: absolute;
     
    top: 200px;
   background-color: white;
    font-size: 80px;
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif;
}
#p2{
    background-color: white;
    position: absolute;
    width: 1200px;
    top: 350px;
    left:0;
    font-size: 23px;
    font-family:Arial, Helvetica, sans-serif

}
#p3{
    background-color: white;
    position: absolute;
    top: 400px;
    left: 0;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.fotoperfil img {
    position: absolute;
    width: 150px;
    height:150px;
    border-radius: 50%;
    margin-top: 130px;
    left: 30px;
  }
  #menu{
    position: absolute;
    
    top: 319px;
    left: 30px;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }
#link img{
    position: absolute; 
    width: 50px;
    height: 50px;
    top: 430px;
     
    
}
#links img{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 430px;
    left: 70px;
}
#linkss img{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 430px;
    left: 140px;
}